# Git
.git
.github
.devcontainer
.gitignore
*.md


# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Virtual environment
.env.example
.venv/
venv/

# VS Code
.vscode/

# Cache
__pycache__/
.ruff_cache/